:root {
  --white: #FFF;
  --gray-98: #FAFAFA;
  --gray-95: #f2f2f2;
  --gray-90: #e6e6e6;
  --gray-85: #d9d9d9;
  --gray-80: #cccccc;
  --gray-75: #bfbfbf;
  --gray-70: #b3b3b3;
  --gray-65: #a6a6a6;
  --gray-60: #999999;
  --gray-55: #8c8c8c;
  --gray-50: #808080;
  --gray-45: #737373;
  --gray-40: #666666;
  --gray-35: #595959;
  --gray-30: #4d4d4d;
  --gray-25: #404040;
  --gray-20: #333333;
  --gray-15: #262626;
  --gray-10: #1a1a1a;
  --gray-00: #000;
  --black: #000;
}